<div style="margin-left:25%;padding:1px 16px;height:1000px;">
  <h2>Mobile User Listing</h2>
  <h3>Try to scroll this area, and see how the sidenav sticks to the page</h3>
  <p>Notice that this div element has a left margin of 25%. This is because the side navigation is set to 25% width. If you remove the margin, the sidenav will overlay/sit on top of this div.</p>
  <p>Also notice that we have set overflow:auto to sidenav. This will add a scrollbar when the sidenav is too long (for example if it has over 50 links inside of it).</p>
  <hr>
<div style="margin-left:25%;padding:1px 16px;height:200px;" *ngIf="showForm">
  <h2>Edit User Details</h2>
  <form method="POST" [formGroup]="EditForm" (ngSubmit)="doEdit($event)">
  <div>
  	<label>Full Name</label>
  		<input type="text" name="emp_name"  formControlName="emp_name" [ngModel]="edetails?.emp_name">
  </div>
  <div>
  	<label>Email</label>
 		 <input type="text" name="emp_email"  formControlName="emp_email" [ngModel]="edetails?.emp_email">
  </div>
   <div>
  	<label>Address</label>
 		 <input type="text" name="emp_address" formControlName="emp_address" [ngModel]="edetails?.emp_address">
 		 <input type="hidden" name="emp_id" formControlName="emp_id" [ngModel]="edetails?.emp_id">
  </div>
 		 <button type="submit">Save Details</button>
 		 <button (click)="CancelUserDetails()">Cancel</button>
 
  </form>

  <hr>
</div>

<h3>User Details</h3>
<table class="table table-hover">
<tr>
<th>Emp ID</th>
<th>Employee Name</th>
<th>Email Address</th>
<th>Gender</th>
<th>Address</th>
<th>Action</th>

</tr>
<tr *ngFor="let detail of posts">
<td>
<span>{{detail.emp_id}}</span></td>
<td>{{detail.emp_name}}</td>
<td>{{detail.emp_email}}</td>
<td>{{detail.emp_gender}}</td>
<td>{{detail.emp_address}}</td>
<td><button (click)="EditUserDetails(detail.emp_id)">Edit</button></td>
</tr>
</table>
</div>

